{{/* page.tmpl */}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.10.0/dist/cdn.min.js" defer></script>
  <title>Error Page</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
  <div class="centerpage">
    <div class="wholepage" x-data="{ showModal: false }">
      <div class="loghead" x-data="dimensionHandler()" x-init="updateDimensions()" @resize.window="updateDimensions()"
        x-bind:style="{ fontSize: fontSize + 'px', height: height + 'px' }">
        <div class="logheadtxt icon">
          <a href="/" style="text-decoration: none; color: inherit">&#10224;</a>
        </div>
        <b class="logheadtxt headname">i9 Admin</b>
        <div class="logheadtxt icon" @click="showModal = !showModal" x-text="showModal ? '&#10006;' : '&#9776;'"></div>
      </div>

      <div x-show="showModal" class="modal" @keydown.window.escape="showModal = false">
        <div x-show="showModal" class="modal-content" x-on:click.away="showModal = false" x-data="dimensionFixHandler()"
          x-init="updateDimensions()" @resize.window="updateDimensions()" x-bind:style="{ top: top + 'px' }"
          x-bind:class="{ 'enter': showModal, 'leave': !showModal }"
          x-transition:leave="transition: opacity 0.3s ease-in, transform 0.3s ease-in;"
          x-transition:leave-start="opacity: 1; transform: translateY(0);"
          x-transition:leave-end="opacity: 0; transform: translateY(-200px);">
          <button class="menu-button">
            <a href="/" style="text-decoration: none; color: inherit">Home Page</a>
          </button>
          {{ if not .Mobile }}
          <button class="menu-button">
            <a href="/pay" style="text-decoration: none; color: inherit">Giga Membership</a>
          </button>
          {{ end }}
          <button class="menu-button">
            <a href="/login" style="text-decoration: none; color: inherit">Login Page</a>
          </button>
          <button class="menu-button">
            <a href="/logout" style="text-decoration: none; color: inherit">Sign Out</a>
          </button>
        </div>
      </div>

      <div class="innercontent">
        <div class="partialHead">
          It looks like you are on a page that doesn't exist.
        </div>
        <pre>Error: 404</pre>
        <button class="submit">
          <a href="/" style="text-decoration: none; color: inherit">Return Home</a>
        </button>
      </div>
    </div>
  </div>
</body>

</html>

<script>
  function dimensionHandler() {
    return {
      fontSize: 16,
      height: 24,
      updateDimensions() {
        const width = window.innerWidth;
        const height = window.innerHeight;
        const size = Math.min(width, height) * 0.08;
        this.fontSize = Math.max(16, Math.min(48, size));

        const heightSize = Math.min(width, height) * 0.1;
        this.height = Math.max(24, Math.min(54, heightSize));
      },
    };
  }

  function dimensionFixHandler() {
    return {
      top: 24,
      updateDimensions() {
        const width = window.innerWidth;
        const height = window.innerHeight;
        const heightSize = Math.min(width, height) * 0.1;
        this.top = Math.max(24, Math.min(54, heightSize));
      },
    };
  }
</script>
