<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processing</title>
</head>
<body>

<div>Your payment is currently processing</div>
<div>Once it has gone through, you'll be able to manage your subscription and use its features</div>
<div><a href="/pay">Refresh Page</a> to see changes</div>

</body>
</html>