@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.centerpage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgb(97, 97, 97);
    width: 100dvw;
    height: 100dvh;
}

.wholepage {
    height: 100dvh;
    width: min(100dvw, 750px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: fixed;
    background: rgba(236, 241, 243, 0.85);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.loghead {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background: white; */
    height: clamp(24px, 10dvw, 54px);
    font-size: clamp(16px, 8dvw, 48px);
    z-index: 6;
}

.loghead-log {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background: white; */
    height: clamp(24px, 10dvw, 54px);
    font-size: clamp(16px, 8dvw, 48px);
    z-index: 6;
}

.logheadtxt {
    user-select: none;
    font-family: "Fira Code", Courier, monospace;
    /* background-color: white; */
}

.link-button {
    background: none;
    border: none;
    color: rgb(59, 59, 59);
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

.link-button:hover,
.link-button:focus {
    text-decoration: none;
}

.gigaSection.last {
    border-bottom: none;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gigaSection {
    margin: 5px;
    border-bottom: 1px solid grey;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dangerZone {
    padding: 5px;
    border: 2px solid rgb(222, 0, 0);
    min-width: 250px;
    min-height: 100px;
    margin-left: 5px;
    margin-right: 5px;
}


.submit {
    border-radius: 0px;
    transition: border-color 150ms ease-in-out 0s;
    outline: none;
    font-size: 16px;
    margin: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid rgb(137, 151, 155);
    color: inherit;
    background-color: transparent;
    font-weight: normal;
    cursor: pointer;
}

.justcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit:hover {
    background-color: aliceblue;
}

.submit.danger {
    color: rgb(222, 0, 0);
    border: 1px solid rgb(222, 0, 0);
}

.submit.danger:hover {
    background-color: rgb(222, 0, 0);
    color: white;
}

.partialHead {
    font-size: 1.6em;
    font-weight: bold;
}

.miniHead {
    font-size: 1.25em;
    font-weight: bold;
}

.pre {
    font-family: "Fira Code", Courier, monospace;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.44);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    cursor: pointer;
}

.modal-content {
    position: fixed;
    right: calc((100dvw - min(100dvw, 750px)) / 2);
    top: clamp(24px, 10dvw, 54px);
    margin: 0;
    padding: 15px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: auto;
    cursor: default;
    max-height: 90dvh;
    max-width: 87.9dvw;
}

.modal-log {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.44);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    cursor: pointer;
  }

  .modal-content-log {
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2001;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    cursor: default;
    max-height: 80dvh;
    max-width: 87.5dvw;
  }

.menu-button {
    margin-top: 5px;
    background: none;
    border: none;
    color: rgb(59, 59, 59);
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

.menu-button:hover,
.menu-button:focus {
    text-decoration: underline;
}

.icon {
    cursor: pointer;
}

.headname {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

button {
    cursor: pointer;
}

.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
}

input {
    border: 1px solid rgb(137, 151, 155);
    border-radius: 0px;
    transition: border-color 150ms ease-in-out 0s;
    outline: none;
    font-size: 16px;
    margin: 4px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: min(444px, calc(100dvw - 50px));
}

.smallerInput {
    min-width: min(250px, calc(75dvw - 50px));
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.isloggedin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.isloggedbuttons {
    display: flex;
}

.verif {
    font-size: 14px;
    margin-top: -1px;
    margin-bottom: -1px;
    color: rgb(222, 0, 0);
}

.verif.complete {
    color: green;
}

.verif.invis {
    visibility: hidden;
}

.total {
    font-family: "Fira Code", Courier, monospace;
    font-size: 1.5em;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

label {
    padding: 5px;
}

.header {
    width: 100%;
}

.innercontent {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    align-items: center;
}

.innercontent-log {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    align-items: center;
    margin-bottom: -20px;
    padding-bottom: 25px;
}

.logintxt {
    font-size: 48px;
}

.loginouter {
    display: flex;
    min-height: 40dvh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.closeline {
    display: flex;
    justify-content: right;
    width: 100%;
}

.closeline > .link-button {
    text-decoration: none;
}

@media (max-height: 700px) {
    .loginouter {
        min-height: 34.2857dvh;
    }
}

@media (max-height: 600px) {
    .loginouter {
        min-height: 28.5714dvh;
    }
}

@media (max-height: 500px) {
    .loginouter {
        min-height: 25dvh;
    }
}

@media (max-height: 400px) {
    .loginouter {
        min-height: fit-content;
    }
}

@media (max-width: 750px) {
    .wholepage {
        background: rgba(236, 241, 243, 0.8);
    }
}

@keyframes flyIn {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes flyOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-200px);
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scaleOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.5);
    }
}

.enter {
    animation: flyIn 300ms ease-out forwards;
}

.leave {
    animation: flyOut 300ms ease-in forwards;
}

.enter-log {
    animation: scaleIn 300ms ease-out forwards;
}

.leave-log {
    animation: scaleOut 300ms ease-in forwards;
}

.centerpage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgb(36, 4, 48) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgb(1, 26, 24) 100%
    );
    z-index: -2;
  }

  .centerpage::after {
    content: "";
    position: absolute;
    top: -300%;
    left: -300%;
    width: 600%;
    height: 600%;
    background-image: url("/static/images/bgminitr2.png");
    background-repeat: repeat;
    background-size: 121px 51px;
    transform: rotate(45deg);
    transform-origin: center;
    z-index: -1;
  }
